/* .box-con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
} */
/* .box-out{
    
    padding: 30px;
    border-radius: 100%;
    height: 120%;
    animation: rotate 8s linear infinite;

} */
/* .box-in{
    border: 2px solid #000;
    height: 40px;   
    border-radius: 100%;
    aspect-ratio: 1/1;
    translate: -150%;
} */
/* @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
   .animation-container {
    min-height: 300px;
    /* height: 500px; */
  
   }
   .skill-container{
    flex-wrap: wrap;
    padding: 0px 10px 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   }
   .skill-name{
    padding-top: 50px;
   }
   .svg-skill{
    max-height: 500px;
    aspect-ratio: 1/1;
    min-height: 300px;
   }
   .skill-bar{
    width: 50%;
}

@media (max-width: 777px) {
  .skill-container{
    padding: 0px;
    margin-top: 20px;

  }
}
   @media (max-width: 500px) {
    .skill-container{
      flex-direction: column;
      width: 90vw;
      margin-top: 30px;
      padding: 0px 10px 10px 10px;
    }
    .skill-bar{
        width: 100%;
    }
  }
  