
.project-card {
    background-color: #1a202c; 
    border: 1px solid #4a5568; 
  }
  
  
  .project-card img:hover {
    transform: scale(1.1);
  }
  
  
  .project-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); 
  }
  

  .project-card button {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .project-card button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

.tag {
    display: inline-block;
    margin: 0 5px 5px 0; 
    padding: 5px 10px; 
    border-radius: 9999px; 
    font-size: 0.875rem; 
    font-weight: 600; 
    text-transform: uppercase; 
  }
    

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translatey(20px);
    }
    to {
      opacity: 1;
      transform: translatey(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translatey(0);
    }
    to {
      opacity: 0;
      transform: translatey(-20px);
    }
  }
  

  .fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }