.logo-out{
    
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 20px;
    aspect-ratio: 1/1;
    margin: 20px;

}
.logo{
    aspect-ratio: 1/1;
}
.logo-container{
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 100px 0px;
    flex-wrap: wrap;
}
@media (max-width: 1035px) {
    .logo-out{
    
        height: 100px;
        margin: 20px;
        padding: 10px;
    
    }
    .logo{
        margin-bottom: 3px;
    }
    
}

@media (max-width: 800px){
    .sec{
        width: 100%;
    }
}


@media (max-width: 500px){
    .logo-name{
        display: none;
    }
    .logo{
        margin-bottom: 0px;
    }
    .logo-out{
    
        height: auto;
        margin: 5px;
        padding: 10px;
    
    }
    .sec{
        width: 100%;
    }
}
/* .logo:hover{
    transform: scale(1.5);
    transition: all 0.3s ease;
} */
.hov:hover{
    .logo{
        transform: scale(1.4);
        transition: all 0.3s ease;
    }
    .tex{
        transform: scale(1.1);
        transition: all 0.3s ease;
    }

}
.sec:hover{
   border: 1px solid #ffcc14;
    transition: all 0.3s ease;
    .tit{
           transform: scale(1.1);
        transition: all 0.3s ease;
        color:#ffcc14;
    }
}
.sec{
    border-radius: 10px;
   border: 1px solid grey;
   

}
.tex{
      font-family: "Kanit", sans-serif;
        /* color: rgb(171, 171, 191); */
}
.tit{
    /* color: #eaba0f; */
    color: white;
}